[Unit]
Description=This unit runs the tibberlox configuration
After=network.target
Wants=network-online.target

[Service]
Restart=no
Type=simple
ExecStart=/usr/bin/python3 /home/pi/tibberlox/tibberlox.py
User=pi
Environment=
WorkingDirectory=/home/pi/tibberlox

[Install]
WantedBy=multi-user.target
